---
---

      <article>
        <figure>
          <img src="../images/<%= image %>" alt="photo of a <%= image %>">
          <figcaption>Completed on <time datetime="<%= date.to_s %>"><%= DateTime.parse(date.to_s).strftime('%-d %B %Y') %></time> by <%= artist %></figcaption>
        </figure>
        <% 9.times do %>
        <p><%= lorem.sentences 5 %></p>
        <% end %>
      </article>