<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= current_page.data.title || "#{project['name']}" || "Lynne Cooney" %></title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "ilynne" %>
  <script src="js/vendor/modernizr.js"></script>
  </head>
  
  <body class="<%= page_classes.gsub(/_/,'-') %>">
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Lynne Cooney'.upcase, '/index.html' %></li>
          <li><%= link_to 'Resume', '/resume/index.html' %></li>
          <li><%= link_to 'Projects', '/projects.html' %></li>
          <li><a href="http://github.com/ilynne"><i class="fa fa-github fa-lg"></i> GitHub</a></li>
          <li><a href="http://linkedin.com/in/lynnety"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-container cf">
      <div class="main-content">
        <section>
          <h1><%= current_page.data.title || "#{project['name']}" || "Lynne Cooney" %></h1>
          <%= yield %>
        </section>
      </div>

    <div class="aux-content cf">
      <aside class="well backgroundShade1">
          <figure>
            <%= image_tag 'lynne-tiara.png', alt: 'Lynne in a pink hat' %>
            <figcaption>Every day is tiara day.</figcaption>
          </figure>
      </aside>
    </div>
  </div>

  <footer>
    <p class="centered">&copy;<time datetime="<%= DateTime.now.strftime('%Y') %>"><%= DateTime.now.strftime('%Y') %></time> Lynne Cooney. Last updated <time datetime="<%= DateTime.now.strftime('%F') %>"><%= DateTime.now.strftime('%-d %B %Y') %></time>.</p>
  </footer>
  </body>
</html>