---
title: Colophon
---

  <section>
    <h1>About This Website</h1>
    <p>This site was developed using <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> and <%= link_to 'Middleman', 'https://middlemanapp.com/' %>. CSS was generated using <%= link_to '{less]', 'http://lesscss.org/' %>.</p>
    <p>Middleman generates static pages that are easy to host using <%= link_to 'GitHub Pages', 'https://pages.github.com/' %>.</p>
    <p>View the source for this project: <%= link_to 'portfolio-source', 'https://github.com/ilynne/portfolio-source' %>.</p>
  </section>
  <section>
    <figure>
      <%= image_tag 'echostage.jpg', alt: 'Waiting for the Replacements' %>
      <figcaption>At a Replacements show in 2015.</figcaption>
    </figure>
  </section>