---
title: Portfolio
---

      
        <h2>Site for UW Class</h2>
        <p>This is not my real portfolio. This site is for a front-end class.</p>
      

      
        <h2>This site contains no information at all about the following projects:</h2>
        <ol>
          <% data.projects.project.each do |f| %>
          <li><%= f[:name] %>
            <ol>
              <% 5.times do %>
              <li><%= lorem.words 5 %></li>
              <% end %>
            </ol>
          </li>
          <% end %>
        </ol>
        <p>Well, there are a few pictures.</p>
      

      
        <h2>Here be Columns</h2>
        <p><%= lorem.sentences 5 %></p>
        <% 7.times do %>
        <h3><%= lorem.words 2 %></h3>
        <% 3.times do %>
        <p><%= lorem.sentences 3 %></p>
        <% end %>
        <% end %>
      